.nav{
    background-color:#00548E;
    padding:20px;
    
}

.header{
    border-bottom: 5px solid #ED1B2E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.footer{
    background-color: #707070;
    border-top:5px solid #ED1B2E;
}

.body{
    background-color: white;
    border-left: 2px solid #00548E;
}

.header img{
    width:200px;
    height:150px;
    border-right: 3px solid #ED1B2E;
}


.nav > .important-dates{
    color:#bbb;
    padding-top:30px;
}

.body >.body-content{
    padding:50px;
}

.body > .body-content > .theme{
    display: flex;
    align-items: center;
}

.body > .body-content > .theme > .theme-img img{
    width:50%;
}

.nav > .bulleted-list{
    color:#BBB;
    font: 16px/1 'Montserrat', sans-serif;
}

li{
    padding-bottom:10px;
    line-height:110%;
    list-style-type:none;
}

ul{
    padding:0;
}