.nav{
    background-color:#00548E;
    padding:20px;
    
}

.header{
    border-bottom: 5px solid #ED1B2E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:#707070 
}

.footer{
    background-color: #707070;
    border-top:5px solid #ED1B2E;
}

.body{
    background-color: white;
    border-left: 2px solid #00548E;
}

.header img{
    width:225px;
    height:150px;
    border-width: 0px 70px 0px 0px ;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


.nav > .important-dates{
    color:#bbb;
    padding-top:30px;
}

.body >.body-content{
    width: calc(100vh - 220px);
    padding: 50px;
}

.body > .body-content > .theme{
    display: flex;
    align-items: center;
}

.body > .body-content > .theme > .theme-text{
    width:50%
}

.body > .body-content > .theme > .theme-img{
    width:50%
}

.body > .body-content > .theme > .theme-img img{
    width:100%;
}

.nav > .bulleted-list{
    color:#BBB;
    font: 16px/1 'Montserrat', sans-serif;
}

.nav li{
    padding-bottom:10px;
    line-height:110%;
    list-style-type:none;
}

.nav ul{
    padding:0;
}

.officer > .officer-img img{
    width: 100%;

}