#homepage {
    background-color: beige;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 
    20%
    1fr
    ;
    grid-template-rows:
    100px
    1fr
    100px
    ;
    grid-template-areas:
    "nav nav-header"
    "nav body"
    "footer footer"
    ;
}

.header {
    grid-area: nav-header;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.nav {
    grid-area: nav;
    background-color: aliceblue;
}

.body {
    margin: 0;
    padding: 0;
    grid-area: body;
}

.footer {
    grid-area: footer;
    background-color: #f0f0f0;
}