#homepage {
    background-color: beige;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 
    220px
    1fr
    ;
    grid-template-rows:
    155px
    1fr
    100px
    ;
    grid-template-areas:
    "header header"
    "nav body"
    "footer footer"
    ;
}

.header {
    grid-area: header;
    margin: 0;
    padding: 0;
    
    background-image: url("images/Banner-img.png")
}

.nav {
    grid-area: nav;
}

.body {
    margin: 0;
    padding: 0;
    grid-area: body;
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    ;
    grid-template-rows:
    1fr
    1fr
    1fr
    ;
    grid-template-areas:
    "pic1 pic2 pic3"
    "pic4 pic5 pic6"
    "pic7 pic8 pic9"
    ;
}

.footer {
    grid-area: footer;
    
}